{% load static %}
<div class="container" id="portal-head">
    <div class="row">
        <div class="col-md-2 text-center">
            <div id="logo">
                <a href="{% url 'portals:home' %}"><img class="img-round" width="150px" src="{% static 'image/logo.jpg' %}" /></a>
            </div>
        </div>
        {% comment %}
        <div class="col-md-2 col-md-offset-8">
            <a href="{% url 'portals:me' %}">画画人</a>
        </div>
        {% endcomment %}
    </div>
</div>
<br /><br />