{% extends "base.html" %}

{% block body %}
    {% include "head.html" %}
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
    {% include "foot.html" %}
    <script src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extrajs %}{% endblock %}
{% endblock %}