body {
    font: 12px/1.3 'Arial','Microsoft YaHei';
    _font-family: simsun;
    overflow-x: hidden;
    color: #333;
}

#main {
    padding-top: 45px;
}

.white {
    color: white;
}

#portal-head {
    padding-top: 10px;
}

#portal-head a {
    color: #333;
}

.img-round {
    border-radius: 50%;
    /*border: 1px solid lightgray;*/
}
